/*
* will need to add media queries later on
*/

@font-face {
    font-family: 'Inter-Regular';
    src: url("./fonts/Inter-Regular.ttf");
}

@font-face {
    font-family: 'Inter-Bold';
    src: url("./fonts/Inter-Bold.ttf");
}

* {
    /*border: 1px solid black;*/
}

body {
    margin: 0;
    background-color: rgb(232, 230, 231);
}

.box.first {
    position: relative;
}
.box-first-inner-container {
    position: relative;
    /*border: 1px solid black;*/
    width: 1500px;
    margin: 0 auto;
    margin-top: 100px;
    height: 550px;
}
.box-intro {
    position: absolute;
}
.heading-main {
    position: relative;
    /*border: 1px solid black;*/
    width: 410px;
    top: 70px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 40px;
    text-align: center; 
    transform: translate(10%);
}
.iris-text-heading-main {
    color: rgb(106, 106, 230);
    padding-bottom: 8px;
}
.iris-text-heading-main:hover {
    color: rgb(134, 134, 246);
}

.box-main {
    position: relative;
}
.box-main-inner-container {
    position: relative;
    /*border: 1px solid black;*/
    width: 1500px;
    margin: 0 auto;
    margin-top: 10px;
    height: 4000px;
    margin-bottom: 0px;
    overflow-y: clip;
}
.heading-intro {
    position: relative;
    width: 410px;
    top: 100px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: rgb(106, 106, 230);
    transform: translate(10%);    
}
.box-intro-p {
    position: relative;
    width: 410px;
    top: 100px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: black;
    transform: translate(8%);   
}
.heading-intro-2 {
    position: relative;
    width: 410px;
    top: -200px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: rgb(106, 106, 230);
    transform: translate(10%);    
}
.box-intro-p2 {
    position: relative;
    width: 410px;
    top: -200px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: black;
    transform: translate(8%);
}
.heading-second {
    position: relative;
    width: 410px;
    top: -480px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: rgb(106, 106, 230);
    transform: translate(10%);
}
.box-second-p {
    position: relative;
    width: 410px;
    top: -480px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: black;
    transform: translate(8%);
}
.heading-third {
    position: relative;
    width: 410px;
    top: -850px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: rgb(106, 106, 230);
    transform: translate(10%);
}
.heading-third-2 {
    position: relative;
    width: 410px;
    top: -1150px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: rgb(106, 106, 230);
    transform: translate(10%);
}
.box-third-p {
    position: relative;
    width: 410px;
    top: -850px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: black;
    transform: translate(8%);
}
.box-third-p2 {
    position: relative;
    width: 410px;
    top: -1150px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: black;
    transform: translate(8%);
}
.heading-fourth {
    position: relative;
    width: 410px;
    top: -1260px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: rgb(106, 106, 230);
    transform: translate(10%);
}
.box-fourth-p {
    position: relative;
    width: 410px;
    top: -1260px;
    left: 100px;
    font-family: 'Inter-Bold';
    font-size: 30px;
    text-align: center;
    color: black;
    transform: translate(8%);
}
.img1 {
    position: relative;
    width: 800px;
    height: auto;
    left: 610px;
    top: -200px;
}
.img2 {
    position: relative;
    width: 800px;
    height: auto;
    left: 610px;
    top: -200px;
}
.box-intro-img {
    position: relative;
    width: 800px;
    height: auto;
    left: 610px;
    top: -380px;
}
.box-intro-img-2 {
    position: relative;
    width: 800px;
    height: auto;
    left: 610px;
    top: -700px;
}
.box-second-img {
    position: relative;
    width: 800px;
    height: auto;
    left: 610px;
    top: -980px;
    padding-top: 20px;
}
.box-third-img {
    position: relative;
    width: 800px;
    height: auto;
    left: 610px;
    top: -1400px;
}
.box-third-img-2 {
    position: relative;
    width: 800px;
    height: auto;
    left: 610px;
    top: -1500px;
}
.box-fourth-img {
    position: relative;
    width: 800px;
    height: auto;
    left: 610px;
    top: -1670px;
}
.download-app {
    position: absolute;
    /*border: 1px solid black;*/
    width: 350px;
    height: 100px;
    top: 330px;
    left: 170px;
    background-color: rgb(71, 70, 70);
    border-radius: 25px;
    cursor: pointer;
}
.download-app:hover {
    background-color: rgb(89, 88, 88);
}
.installer-link {
    display: block;
    width: 349px;
    height: 99px;
    /*border: 1px solid black;*/
    border-radius: 25px;
    text-decoration: none;
}
.download-app-text-1 {
    position: relative;
    font-family: 'Inter-Bold';
    font-size: 25px;
    color: white;
    left: 115px;
    top: 20px;
}
.download-version-text {
    position: relative;
    font-family: 'Inter-Regular';
    color: white;
    top: 35px;
    left: 70px;
}